@{
    ViewBag.Title = "Home Page";
}

<!--CSS Code, will be moved later-->
<style type="text/css">
    .meet #img {
        float: left;
    }

    .meet #txt {
        float: right;
        width: 400px;
    }
    .jumbotron-custom {
        color: #333333;
        background-color: #EEEEEE;
    }
    .container .jumbotron-custom {
        padding-top: 0px;
        padding-bottom: 30px;
        border-radius: 6px;
    }
    .jumbotron-custom h1 {
        font-size: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #C1C1C1;
        border-radius: 6px;
    }
    .jumbotron-custom a {
        color: #989898;
        text-decoration: underline;
    }
    .jumbotron-custom a:hover{
        text-decoration: none;
    }
    .jumbotron-custom hr {
        border-color: #DCDCDC;
    }
</style>

<img src="~/Images/banner.png" id="img_banner" />

<div class="jumbotron">
    <h1>AEGorsuch Designs</h1>
    <p class="lead">We are a team of innovators working to update scientific inquiry.</p>
    <p><a href="~/Form/Subscribe" class="btn btn-primary btn-lg">Subscribe for updates &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>FieldMAK Assay Kit</h2>
        <p>
            Our microbiology assay kit is field-ready and ruggedized, complete with interchangable parts. The FieldMAK's case and testing modules are now available for purchase.
        </p>
        <p><a class="btn btn-default" href="http://www.aegorsuchdesigns.com/microbiological-assay-kit/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>CF Resonance Treatment</h2>
        <p>
            A redesign of traditional percussive mucus-clearing technology for patients with cystic fibrosis, and we made it less intrusive and more energy efficient than ever.
        </p>
        <p><a class="btn btn-default" href="http://www.aegorsuchdesigns.com/cystic-fibrosis-resonance-treatment/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>GaugeScalpel</h2>
        <p>
            This simple, yet revolutionary design in depth-congnizant surgical technology is affordable, durable, and engineered with the user in mind. Take a look.
        </p>
        <p><a class="btn btn-default" href="http://www.aegorsuchdesigns.com/depth-scalpel/">Learn more &raquo;</a></p>
    </div>
</div>
<br />
<div id="about-us" class="jumbotron-custom">
    <h1>&emsp;Meet the Team</h1>
    <div class="container">
        <div class="row meet">
            <div class="col-md-6">
                <br />
                <img src="~/Images/alex-gorsuch.png" id="img_location" alt="Alex Gorsuch" style="float:left" align="left" />
                <div id="txt">
                    <p>
                        <font size="+2">
                            Alex Gorsuch
                        </font><br />
                        Chief Executive Officer, Inventor.
                        <hr />
                    </p>
                    <p>
                        Alex Gorsuch is the both the founder of AEGorsuchDesigns and inventor of the technologies currently being developed. Alex has a bachelor's in Cognitive Neuroimaging from the University of Illinois at Urbana-Champaign and is currently pursuing a masters in Industrial Engineering at New Mexico State University. Alex recieved an award in the <a href="https://newscenter.nmsu.edu/Articles/view/12505/nmsu-entrepreneur-teams-win-seed-funding-through-launch-competition" target="_blank">2017 LAUNCH competition</a> for his innovations with Field-MAK, and has completed multiple <a href="http://arrowheadcenter.nmsu.edu/icorps/#section-473" target="_blank">Aggie I-Corps programs</a>. He also currently works in conjunction with Los Alamos National Laboratory on a spectrophotometer he designed.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <br />
                <img src="~/Images/maggie_benham.png" id="img_location" alt="Maggie Benham" align="left" />
                <div id="txt">
                    <p>
                        <font size="+2">
                            Maggie Benham
                        </font><br />
                        Chief Operating Officer.
                        <hr />
                    </p>
                    <p>
                        Maggie has been the Chief Operating Officer of AEGorsuchDesigns since October of 2017. She holds two bachelor degrees: Marketing and Advertising/Public Relations from University of Arkansas at Little Rock. Maggie brings with her experience from her involvement with the Greater El Paso Chamber of Commerce and as the Director and Executive Assistant of Leadership El Paso Programs.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
